<!--The content below is only a placeholder and can be replaced.-->

<header class="navbar navbar-expand-lg navbar-dark bg-dark flex-column flex-md-row bd-navbar">
  <div class="navbar-nav-scroll">
    <ul class="navbar-nav bd-navbar-nav flex-row">
      <li class="nav-item">
        <a class="nav-link " [routerLink]="['/categories']">全部书单</a>
      </li>
      <li *ngFor="let category of categoryService.categories" class="nav-item">
        <a class="nav-link " [routerLink]="['/category', category.id]">{{category.name}}</a>
      </li>
    </ul>
  </div>
</header>

<router-outlet></router-outlet>